.sidebar
  background: rgba($card-color,.75)
  position: relative
  padding: 25px
  

.sidebar__title
  margin-bottom: 20px

  a
    display: block
    text-align: center
    font-size: 22.5px
    text-transform: uppercase
    text-decoration: none
    color: $dark-body-color
    font-weight: 600
    &:hover
      color: #9055a2

.sidebar__intro
  color: $dark-body-color
  font-size: 25px
  margin-bottom: 20px
  text-align: center
  p
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

.sidebar__menu
  margin-bottom: 20px

  li
    display: block
    margin: 0 25px
    padding: 10px
    background: rgba($card-color, .5)
    a
      text-decoration: none
      display: block
      padding-left: 20px
      color: $active-color
      position: relative
      font-size: 20px
      &:before
        content: ""
        position: absolute
        left: 0
        top: 50%
        margin-top: -6px
        height: 12px
        width: 12px
        background: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/chevron-right.svg')
        background-position: 50% 50%
        background-repeat: no-repeat
        background-size: contain
        opacity: 0.6

      &:hover
        color: $accent-hover

    .is-active
      font-weight: 800
      color: $accent-color
      &:hover
        color: $accent-color

.sidebar__social
  margin-bottom: 20px
  text-align: center

.sidebar__copyright
  text-align: center
  color: $light-body-color
  font-size: 13px
