$light-bg-color: #fff
$dark-body-color: #111
$base-body-color: #888
$light-body-color: #fff
$active-color: #f76300
$border-color: #ccc
$accent-color: #186621
$accent-hover: #f76300
$card-color: #f1f1f1